@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 233, 244, 238;
}

@font-face {
  font-family: 'kalpurush',sans-serif;
  src: url("/fonts/kalpurush.ttf") format("truetype");
    
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: 'kalpurush', sans-serif;
  
}

* {
  box-sizing: border-box;
}

button,
a {
  font: inherit;
}
